src/main/resources/eurofxref-daily.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ecb.int/vocabulary/2002-08-01/eurofxref" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope" xmlns:gesmes="http://www.gesmes.org/xml/2002-08-01" xmlns="http://www.ecb.int/vocabulary/2002-08-01/eurofxref" >
  </xs:element>
  <xs:complexType name="Envelope" mixed="true">
    <xs:sequence>
      <xs:element name="subject" type="xs:string" />
      <xs:element name="Sender">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://www.ecb.int/vocabulary/2002-08-01/eurofxref" ref="q1:Cube" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cube" type="eur:CubeType" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
  <xs:complexType name="CubeType" mixed="true">
    <xs:sequence>
      <xs:element type="eur:CubeType" name="Cube" maxOccurs="unbounded" minOccurs="0" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="currency" use="optional"/>
    <xs:attribute type="xs:string" name="rate" use="optional"/>
    <xs:attribute type="xs:string" name="time" use="optional"/>
  </xs:complexType>
</xs:schema>